*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Buyekan';
    src: url('../fonts/Byekan.ttf') format('truetype'),
         url('../fonts/Byekan.woff') format('woff');
}

@font-face {
    font-family: 'lalezar';
    src: url('../fonts/lalezar.ttf') format('truetype'),
         url('../fonts/lalezar.woff') format('woff');
}

body{
    font-family: Byekan;
}

.header{
    background-image: url(../images/background.png);
    background-size: cover;
    text-align: center;
    color: white;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center; 
    padding-top: 40px;
}

.header .nav-list{
    list-style-type: none;
}

.header .nav-list .nav-item{
    padding: 15px;
    display: inline-block;
}

.header .nav-list .nav-item:hover{
    color: orange;
}

.header h1{
    font-size: 60px;
    font-family: lalezar;
    margin-top: 90px;
}

.header h1 span{
    color: orange;
}

.desc{
    width: 450px;
    height: 55px;
    line-height: 55px;
    margin:auto;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    border: 1px solid white;
}