*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Buyekan';
    src: url('../fonts/Byekan.ttf') format('truetype'),
         url('../fonts/Byekan.woff') format('woff');
}

@font-face {
    font-family: 'lalezar';
    src: url('../fonts/lalezar.ttf') format('truetype'),
         url('../fonts/lalezar.woff') format('woff');
}

body{
    font-family: Byekan;
}

.header{
    background-image: url(../images/background.png);
    background-size: cover;
    text-align: center;
    color: white;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center; 
    padding-top: 40px;
}

.header .nav-list{
    list-style-type: none;
}

.header .nav-list .nav-item{
    padding: 15px;
    display: inline-block;
}

.header .nav-list .nav-item:hover{
    color: orange;
}

.header h1{
    font-size: 60px;
    font-family: lalezar;
    margin-top: 120px;
}

.header h1 span{
    color: orange;
}

.desc{
    width: 450px;
    height: 55px;
    line-height: 55px;
    margin:auto;
    margin-top: 80px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    border: 1px solid white;
}

.members{
    text-align: center;
    padding: 50px 30px;
}

.member-list{
    list-style-type: none;
    margin-top: 25px;
}

.member-item{
    display: inline-block;
    width: 350px;
    box-shadow: 0 0 15px #bbbbbb;
    margin: 10px;
}

.member-item:hover{
    background-color: rgb(230,230,230);
}

.member-pic{
    width: 100%;
}

.member-name{
    font-size: 25px;
    margin-top: 5px;
}

.member-bio{
    margin: 20px;
    text-align: justify;
}

.about{
    height: 700px;
    background-image: url(../images/bg.jpg);
    background-blend-mode: multiply;
    background-color: #515151;
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    color: white;
}

.circle{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background-color: rgba(135,135,135,0.5);
    margin: auto;
    padding: 100px 120px;
}

.circle h2{
    font-size: 35px;
}

.circle h2:hover{
    color: orange;
}

.circle p{
    margin-top: 40px;
    text-align: justify;
}

.footer{
    background-color: #c0c0c0;
    height: 220px;
    text-align: center;
    padding: 50px 0px;
}

.pic-list{
    background-color: #787777;
    height: 95px;
    margin: auto;
    list-style-type: none;
}

.pic-item{
    display: inline-block;
    margin-top: 10px;
}

.pic-item:hover{
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

.footer p{
    margin-top: 30px;
}